
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="~/css/index_style.css">
</head>
<body>
    <nav>
        <ul>

            <li>
                <input type="text" id="buscador" placeholder="search...">
            </li>


            <a href="http://www.google.es">
                <li>
                    <div class="barra"></div>
                    <p class="menu">Inicio</p>
                </li>
            </a>


            <li>
                <div class="barra"></div>
                <p class="menu">Tutoriales</p>
            </li>



            <li>
                <div class="barra"></div>
                <p class="menu">Videos</p>
            </li>

            <li>
                <div class="barra"></div>
                <p class="menu">Nosotros</p>
            </li>

            <li>
                <div class="barra"></div>
                <p class="menu">Contacto</p>
            </li>



        </ul>
    </nav>
</body>
</html>